@model Eticaret.Models.Product

<h2>Silme İşlemi</h2>
<h3>@Model.Name isimli ürünü silmek istiyor musunuz?</h3>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="ProductId" />
    <input type="submit" value="Evet" class="btn btn-danger" /> |
    <a asp-action="Admin">Hayır, Geri dön</a>
</form>