@model Product

<div>
    <p>
        @Model.Name isimli ürünü silmek istiyor musun ?
        <form action="" method="post">
            <input type="hidden" asp-for="@Model.ProductId">
            <button type="submit" class="btn btn-danger">Evet</button>
            <a asp-controller="Home" asp-action="Admin" class="btn btn-success">Hayır</a>
        </form>
    </p>
</div>