@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Site Made By Muhammet Canlı.</p>

<h2><a href="https://github.com/muhammetcnli"</a>github/muhammetcnli</h2>
